section.section.ontwikkeling(id='ontwikkeling')
    .section-body.container
        .section-header
            h2=ontwikkelingtitel
            .divider-grey
            .section-container
                h4=ontwikkelingsubtitel1
                p
                    =ontwikkelingparagraaf1deel1
                    br
                    =ontwikkelingparagraaf1deel2
                    br
                    =ontwikkelingparagraaf1deel3
                    br
                    =ontwikkelingparagraaf1deel4
                h4=ontwikkelingsubtitel2
                p=ontwikkelingparagraaf2

                h4=ontwikkelingsubtitel3
                p=ontwikkelingparagraaf3

