section(id='about').section.about
    .section-body.container
        .section-header
            h2
                =menu1

            .divider-grey
            .section-container
                .row
                    .col-lg-2
                        img.profile.btn-circle(src=linkplaatje, alt=tekstplaatje)
                    .col-lg-8
                        p
                            br

                            =aboutdeel1
                            br
                            =aboutdeel2

                        h4
                            =abouttussenkopje
                        p
                            =aboutdeel3
                            br
                            =aboutdeel4
                            br
                            =aboutdeel5
                            br
                            =aboutdeel6

                    .row
                        .col-lg-8.col-lg-offset-2
                            .row
                                .col-lg-4.col-md-4.page-scroll
                                    a(href=menulink1)
                                        img(src=aboutplaatje1, alt=aboutplaatjetekst1)
                                    a(href=aboutlink1)
                                        h3=abouttitel1

                                    p
                                        =aboutcontent1

                                .col-lg-4.col-md-4
                                    a(href=aboutlink2)
                                        img(src=aboutplaatje2, alt=aboutplaatjetekst2)
                                    a(href=aboutlink2)
                                        h3
                                            =abouttitel21
                                            br
                                            =abouttitel22
                                            br

                                    p
                                        =aboutcontent2


                                .col-lg-4.col-md-4
                                    a(href=aboutlink3)
                                        img(src=aboutplaatje3, alt=aboutplaatjetekst3)
                                    a(href=aboutlink3)
                                        h3
                                            =abouttitel31
                                            br
                                            =aboutttitel32
                                            br

                                    p
                                            =aboutcontent3
                                            br






