section(id='about').section.about
    .section-body.container
        .section-header
            h2
                span(lang='nl') Over mij
                span(lang='en') About me
                span(lang='fr') About me
            .divider-grey
            .section-container
                div
                    .row
                        .col-lg-2
                            img.profile.btn-circle(src=linkplaatje, alt=tekstplaatje)
                        .col-lg-8
                            p
                               br
                               =aboutdeel1
                               br
                               =aboutdeel2
                            p
                                =aboutdeel3
                                br
                                =aboutdeel4
                        .row
                            .col-lg-8.col-lg-offset-2
                                .row
                                    .col-lg-4.col-md-4
                                        a(href=aboutlink1)
                                            img(src=aboutplaatje1)
                                        a(href=aboutlink1)
                                            h3
                                                =abouttitel1

                                        p
                                            =aboutcontent1

                                    .col-lg-4.col-md-4.page-scroll
                                        a(href=aboutlink2)
                                            img(src=aboutplaatje2, alt=aboutplaatjetekst2)
                                        a(href=aboutlink2)
                                            h3
                                                =abouttitel21
                                                br
                                                =aboutttiel22
                                                br

                                        p
                                            =aboutcontent2
                                    .col-lg.col-md-4
                                             a(href=aboutlink3)
                                                img(src=aboutplaatje3, alt=aboutplaatjetekst3)
                                             a(href=aboutlink3)
                                                h3
                                                    =abouttitel31
                                                    br
                                                    =abouttitel32
                                                    br

                                             p
                                                =aboutcontent3


