section.section.cursus(id='cursus')
    .section-body.container
        .section-header
            h2=cursustitel

            .divider-grey
            .section-container
                h4=cursussubtitel1

                h4
                    small=cursussubtitel1small
                p=cursusparagraaf1

                h4
                    small=cursustitel2
                p
                    =cursusparagraaf2deel1
                    br
                    =cursusparagraaf2deel2
                    br
                    =cursusparagraaf3deel3
                h4=cursustitel3
                p
                    =cursusparagraaf3deel1
                    br
                    =cursusparagraaf3deel2
                    br
                    =cursusparagraaf3deel3
                    br
                    =cursusparagraaf3deel4
                    br
                    =cursusparagraaf3deel5


                h4=cursusondertitel




//
   Created by pieter on 7-11-2016.

